body {
    background-color: #0A1128;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;

  
}

h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Sans Serif';
    font-weight: bold;
    color: #FEFCFB;
}
.Felder {
    background: #034078;
    border-radius: 12px;
    padding: 4rem;
    display: flex;
    margin:  2rem;
    width: 100%;
}
.datum-feld, .zeit, .checkbox, .eintragen {
    padding: 5px;
    margin: 5rem;
    color: #FEFCFB;
    
}
.label {
    display: flex;
    border-radius: 80px;
}
.Name {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 15px;
    font-family: Tahoma;
    padding: 0.5px;
    border-radius: 80px;
}
.button {
    background-color: #1282A2;
    border: none;
    border-color: #000000;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    align-self: flex-end
}
.Eintrag {
    color: #E0E1DD;
    border: var(--border);
    padding: 5px;
    margin: 5px;
    width: 100%;   
}
input {
    background-color: #748cab;
    border: black;
    border-radius: 200px;
    border-width: 20px;
    color: white;
    border-radius: 2px;
}