body {
    background-color: #001233;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;

  
}

h1 {
    font-size: 80px;
    font-family: Gill Sans;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}
.Felder {
    background: #034078;
    border-radius: 12px;
    padding: 4rem;
    display: flex;
    margin:  2rem;
    width: 100%;
    max-width: 700px;
    color: #ffffff;
    font-family: 'Space grotesk';
    font-weight: bold;
}

.datum-feld, .zeit, .checkbox, .eintragen {
    padding: 5px;
    margin: 5rem;
    
}
.label {
    display: flex;
    border-radius: 80px;
}
.Name {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 15px;
    font-family: Tahoma;
    padding: 0.5px;
    border-radius: 80px;
}
.button {
    background-color: #E9C46A;
    border-color: #33415C;
    font-size: 12.5px;
    color: #000000;
    border-radius: 25px;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    align-self: flex-end;
    font-family: 'Space grotesk';
    font-weight: bold;

}
.Eintrag {
    color: #ffffff;
    border: var(--border);
    padding: 5px;
    margin: 5px;
    width: 100%;   
}
input {
    background-color: #33415C;
    border: black;
    border-radius: 200px;
    border-width: 20px;
    color: white;
    border-radius: 15px;
}