<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shift Planner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <nav class= "navbar">
        <a href="/profile">profile</a>
        <a href="/shifts">shifts</a>
        <a href="#" class="li"></a>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <p>Copyright &copy; 2026 Shift Planner</p>
        <span class="sep">|</span>
        <a href="#">Privacy Policy</a>
        <span class="sep">|</span>
        <a href="#">Terms of Service</a>
        <span class="sep">|</span>
        <a href="#">Contact</a>
    </footer>
</body>
</html>
