{% extends "base.html" %}
{% block title %}Add Shift – Shift Planner{% endblock %}
{% block content %}
<div class="container">
    <h1>Add Shift</h1>
    <form method="POST" action="/index">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="Felder">
            <div class="Eintrag">
                <label>Date</label>
                <input type="date" name="datum">
            </div>
            <div class="Eintrag">
                <label>Shift Start</label>
                <input type="time" name="zeit_anfang">
            </div>
            <div class="Eintrag">
                <label>Shift End</label>
                <input type="time" name="zeit_ende">
            </div>
            <div class="Eintrag">
                <label>Day Off</label>
                <input type="checkbox" name="frei">
            </div>
            <div class="Eintragen">
                <button type="submit" class="button">Save Shift</button>
            </div>
        </div>
        {% if error_message %}
        <p class="error">{{ error_message|e }}</p>
        {% elif good_message %}
        <p class="good">{{good_message|e }}</p>
        {% endif %}
    </form>
    <p><a href="/shifts">View your shifts here</a></p>
</div>
{% endblock %}
