<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
<div class="container">
    <b><h1>Schichtplantool</h1></b>
    <form method="POST" action="/schicht">
        <div class = "Felder">
            <div class="Eintrag">
                <label>
                    Username
                </label>
                <input type="text" name="username" placeholder: enter your username>
            </div>
            <div class="Eintrag">
                <label>
                    Password
                </label>
                <input type="password" name="password" placeholder: Enter your password>
            </div>
            <div class="Eintragen">
                <label></label>
                <button type="submit" class="button">Eintragen</button>
            </div>
            {{error_message}}
    </form>
</div>
</body>

</html>

 
    