{% extends "base.html" %}
{% block title %}Set Password – Shift Planner{% endblock %}
{% block content %}
<div class="container">
    <h1>Shift Planner</h1>
    <form method="POST" action="/registeruser">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="Felder">
            <div class="Eintrag">
                <label>Password</label>
                <input type="password" name="password" placeholder="Min. 15 characters + special character">
            </div>
            <div class="Eintrag">
                <label>Repeat Password</label>
                <input type="password" name="password_again" placeholder="Repeat your password">
            </div>
            <div class="Eintragen">
                <button type="submit" class="button">Save</button>
            </div>
        </div>
        {% if error_message %}
        <p class="error">{{ error_message|e }}</p>
        {% elif good_message %}
        <p class="good">{{good_message|e }}</p>
        {% endif %}
    </form>q
</div>
{% endblock %}
