{% extends "base.html" %}
{% block title %}Show shifts – Shift Planner{% endblock %}
{% block content %}

{% for shift in shifts %}
    {{ shift.date }} {{ shift.time_begin }} - {{ shift.time_end }}
    <form method="POST" action="/delete/{{ shift.date_id }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="button">Delete</button>
    </form>
{% endfor %}

{% if error_message %}
<p class="error">{{ error_message|e }}</p>
{% elif good_message %}
<p class="good">{{good_message|e }}</p>
{% endif %}
<p><a href="/index">Add more shifts here</a></p>
<p><a href="/profile">Change your settings here</a></p>
{% endblock %}