<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Schichtzeiten-Planer</title>
<link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="wrapper">
  <form action="">
    <div class="input-box">
        <input type="text" placeholder = "Zeiten" required>
        </div>
    <div class="input-box">
        <input type="text" placeholder = "Zeiten" required>
        </div>
 

   
</script>
</body>
</html>