*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vH;
    background: seagreen;
}
.wrapper {
    width: 420px;
    background: grey;
    color: white;
    height: 100px;

}
.form-box {
    background: grey;
    border: 1px solid;
    border-radius: 2px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    height: 300px;
  }
  .input-box {
    background: green;
    border: 0.5 solid;
    border-radius: 1px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }